# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Rider / JetBrains
.idea/
*.sln.iml

# VS / VS Code
.vs/
.vscode/

# OS junk
.DS_Store
Thumbs.db
